.img-thumbnail {
  transition: all 0.3s ease;
}
.img-thumbnail:hover {
  transform: scale(1.1);
  border-color: #007bff;
}

.border-primary {
  border-width: 2px !important;
}

.accordion-button:not(.collapsed) {
  background-color: #f8f9fa;
  color: #000;
}