:host {
  display: block;
  background-color: #f8f9fa;
  min-height: calc(100vh - 200px);
}

.breadcrumb {
  background: transparent;
  padding: 0;
  margin-bottom: 1rem;
}

.img-thumbnail {
  transition: all 0.3s;
  &:hover {
    transform: scale(1.05);
  }
  &.border-primary {
    border-width: 2px;
  }
}

.quantity .btn {
  border-radius: 0;
}

.nav-pills .nav-link {
  border-radius: 30px;
  color: #495057;
  &.active {
    background-color: var(--bs-primary);
    color: #fff;
  }
}
