:host {
  display: block;
}

// Add any custom styles if needed
.row.g-0 > [class*='col-'] {
  &:last-child {
    border-right: none !important;
  }
}

@media (max-width: 767px) {
  .row.g-0 > [class*='col-'] {
    border-bottom: 1px solid #dee2e6;

    &:nth-child(even) {
      border-right: none;
    }
  }
}
